@use 'fonts';

$primary-color: #7e5c89;
$secondary-color: #eee9f0;
$accent-color: #4e4352;
$body-text-color: #000000;
$heading-font-family: 'Alata', sans-serif;
$body-font-family: 'Alata', sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;