@use 'fonts';

$primary-color: #7A2A85;
$secondary-color: #F7F0F0;
$accent-color: #009DFF;
$third-color: #271762;
$body-text-color: #000000;
$heading-font-family: 'Nexa', sans-serif;
$body-font-family: 'Nexa-Regular';
$light-body-font: 'Nexa-Light';
$base-font-size: 1800px;
$base-font-weight: 400;