@use 'fonts';

$primary-color: #F48F28;
$secondary-color: rgb(252, 249, 243);
$accent-color: #88b274;
$third-color: #271762;
$body-text-color: #000000;
$heading-font-family: 'Nexa-Bold', sans-serif;
$body-font-family: 'Nexa-Regular';
$light-body-font: 'Nexa-Light';
$bold-body-font: 'Nexa-Heavy';
$base-font-size: 1800px;
$base-font-weight: 400;