#main-header-user {
  background-color: #f48f28;
}

#burger-nav {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
}

.hamburger {
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 100;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger img {
  height: 50px;
  width: 100%;
}

.burger_menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #a491e8;
  padding-top: 120px;
  transition: 0.4s;
  list-style-type: none;
}

.burger_menu.is-active {
  left: 0;
}

.burger_menu ul {
  list-style: none;
  padding: 0;
}

.burger_menu a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 12px;
  font-size: 12px;
  background: rgb(70, 46, 159);
  background: linear-gradient(
    180deg,
    rgba(70, 46, 159) 0%,
    rgba(39, 23, 98) 100%
  );

  color: #fff;
  text-decoration: none;
}

.burger_menu a:hover {
  background-color: red;
}

#triangle {
  font-size: 30px;
}

#user-section {
  background-color: #282828;
  margin: 0 auto;
  padding: 0;
}

.nav-user {
  text-align: center;
}

.nav-user a {
  text-decoration: none;
}

.nav-user ul {
  background: #f48f28;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-user li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.4s;
}

.nav-user li a {
  color: #fff;
}

.dropdown li:hover,
.dropdown li:focus-within,
#user-section:hover {
  background: #88b274;
  cursor: pointer;
}

.nav-user li:focus-within a {
  outline: none;
}

.nav-user ul li ul {
  background: #ac5910;
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.nav-user ul li:hover > ul,
.nav-user ul li:focus-within > ul,
.nav-user ul li ul:hover,
.nav-user ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-user ul li ul li {
  clear: both;
  width: 100%;
}

@media (min-width: 768px) {
  .burger_menu a {
    font-size: 15px;
  }

  #user-section {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .burger_menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #burger-nav {
    display: none;
  }

  #user-section {
    margin-top: 7px;
    font-size: 12px;
    border: 1px solid #8a8686;
    width: 217px;
    height: 62px;
    color: #ffffff;
    justify-content: space-between;
    padding-right: 10px;
  }

  #user-name {
    display: block;
    font-family: "Nexa-Regular";
  }

  #list-user li {
    display: inline;
  }

  .nav-user ul li ul {
    min-width: 216px;
  }
}
