
#main-header-user{
	background-color: #271762;	
}

#burger-nav{
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
}
  
.hamburger, #logo-section{

	position: relative;
	display: block;
	cursor: pointer;
  	z-index: 100;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger img{
	height: 50px;
  	width: 100%;
}







.burger_menu, .user_menu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #a491e8;
	padding-top: 120px;
	transition: 0.4s;
	list-style-type: none
}

.burger_menu.is-active, .user_menu.is-active {
	left: 0;
}

.burger_menu ul, .user_menu ul{
	list-style: none;
	padding: 0;
}

.burger_menu a, .user_menu a{
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 12px;
    font-size: 12px;
	background: rgb(70,46,159);
    background: linear-gradient(180deg, rgba(70,46,159) 0%, rgba(39,23,98) 100%);

	color: #FFF;
	text-decoration: none;
}

.burger_menu a:hover {
	background-color: red;
}


#logo-section{
	background-color: #7A2A85;
	padding: 9px;
	padding-top: 14px;
}


@media (min-width: 1200px) {
	.burger_menu {
		display: none;
	}

	.hamburger {
		display: none;
	}
}
  