@use '../abstracts' as a;


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    z-index: 98; 
    overflow-y: scroll; /* Enable vertical scrolling */
    min-height: 100vh; /* Set height to occupy full viewport */
    width: 100%; /* Set width to occupy full viewport */
    transition: 0.4s; /* Add transition for smooth animation */
    background-color: a.$third-color;
}

/* For Firefox */
@-moz-document url-prefix() {
    .lightbox {
        scrollbar-color: #a8a8a8 #f4f4f4;
        scrollbar-width: thin;
        width: 99%;
    }
}







.about{
    font-size: 15px;
}


.content-lightbox .text-lightbox .heading-text { 
    font-size: 15px;
    color: #F48F28;
    text-transform: uppercase;
    text-align: center;
}

.content-lightbox .text-lightbox p .author { 
    font-size: 19px;
    color: #F48F28;
}

.content-lightbox .text-lightbox p .about{
    font-size: 10px;
    line-height: 1px;  
}

.content-lightbox .text-lightbox {
    text-align: left;
    line-height:15px
}



.image-lightbox{
    margin-top: 90px;
    max-width: 40%;
    margin-bottom: 20px;
    text-align: center;
}


.closeContent {
    font-size: 70px;
    float: right; 
    color: #F48F28;
    &:hover{
        color: #88b274;
        // transition-duration: .5s;
        transition: 0.8s ease-in-out;
    }
}

.content-lightbox .image-box-articles{
    text-align: center;
}

.text-lightbox p .heading-text{
    font-size: 10px;
}

.content-article{
    font-size: 10px;
}


//Event

.content-lightbox .image-box-events{
    text-align: center;
    margin-left: 30px;
}

.image-lightbox-event{
    margin-top: 90px;
    max-width: 80%;
    margin-bottom: 20px;
    text-align: center;
}

.heading-text-event {
    color: a.$primary-color;
    font-size: 15px;
    text-transform: uppercase;
}

.date-event{
    font-size: 12px;
}

.about-event{
    font-size: 10px;
}

@media screen and (min-width: 768px) {


    .content-lightbox {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center; 
        height: 100vh;
    }


    .content-lightbox > *:first-child {
    flex-basis: 40%;
}

    .content-lightbox > *:not(:first-child) {
        flex-basis: 60%;
    }

    .about { 
        margin-top: -10px;
    }

    .image-lightbox{
        margin-top: 90px;
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .content-lightbox .image-box-articles{
    text-align: left;
    padding-right: 50px;
    padding-left: 24px;
    }

    .content-lightbox .text-lightbox #paragraph-author{
        margin-bottom: 4px;
    }


    .text-lightbox{
        text-align: left;
        margin-top: 59px;
        padding: 0;
    }
    .content-lightbox .text-lightbox .heading-text { 
    font-size: 13px;
    color: #F48F28;
    text-transform: uppercase;
    text-align: center;
    }

    .content-lightbox .text-lightbox .content-article{
        font-size: 14px;
    }

    //Events
    .events-section .grid-con .app .content-lightbox{
        margin-top: 30px;
    }

     .events-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-lightbox-event {
        margin-top: 0px;
    }

    .heading-text-event{
        font-size: 20px;
    }

    .text-lightbox-event p:first-child {
         margin-bottom: 0;
    }

    .about-event{
        font-size: 14px;
    }

}

@media (min-width: 1200px) {
    .content-lightbox {
        height: 100vh;
    }

@-moz-document url-prefix() {
    .lightbox {
        scrollbar-color: transparent;
        width: 100%;
    }
}



    .image-lightbox{
        max-width: 75%;
    }
    .text-lightbox { 
        // margin-top: 0;
        // padding-left: 0;
        // margin-right: 38px;
        margin-left: -56px;
    }

    .closeContent {
        font-size: 97px;
    }


    .content-lightbox .text-lightbox .heading-text{
        font-size: 20px;
    }

    .content-lightbox .text-lightbox p .about{
    font-size: 13px;
    line-height: 1px;  
}
    .content-lightbox .image-box-articles{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    //Event

    
    .image-lightbox-event {
        max-width: 70%;
    }

    .heading-text-event{
        font-size: 30px;
    }

    .about-event {
        font-size: 19px;
    }

    .date-event{
        font-size: 17px;
    }
}

@media screen and (min-width: 1920px) {

    .closeContent {
        font-size: 135px;
        margin-right: 71px;
        margin-top: 30px;
    }
    .content-article, .about {
        line-height: 27px;
        font-size: 17px;
    }


    .heading-text { 
        font-size: 23px;
        font-family: a.$bold-body-font;
    }

    
    .content-lightbox .text-lightbox .heading-text{
        font-size: 35px;
    }

    .content-lightbox .text-lightbox .content-article{
        font-size: 16px;
    }

    .content-lightbox .text-lightbox p .author {
        font-size: 22px;
    }

    .content-lightbox .text-lightbox p .about{
        font-size: 14px;
    }

    //Event

    .image-lightbox-event {
        max-width: 80%;
    }

    .heading-text-event{
        font-size: 50px;
    }

    .about-event {
        font-size: 22px;
        line-height: 1.5;
    }

    .date-event{
        font-size: 24px;
    }

     .text-lightbox-event p:first-child {
         margin-bottom: 10px;
    }

}