@use '../abstracts' as a;

#hero-con {
    position: relative;
}

#hero-con h2 {
    position: absolute; 
    top: 10%; 
    left: 10%;
    color: a.$primary-color; 
}

#hero-con h3 {
    position: absolute; 
    top: 33%; 
    left: 60%;
    color: a.$primary-color; 
}

#list {
    position: absolute; 
    top: 40%; 
    left: 60%;
    color: a.$primary-color; 
    border-radius: 20px;
    padding: 3px;
    border-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#seeMore {
    position: absolute; 
    top: 40%; 
    left: 75%;
    color: a.$secondary-color; 
    background-color: a.$third-color;
    padding:3px ;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#needHelp {
    position: fixed; 
    top: 30%; 
    left: 89%;
    color: a.$secondary-color; 
    background-color: a.$accent-color;
    padding:10px ;
    border-radius: 20px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
