@use '../abstracts' as a;

#hero-con {
    position: relative;
    padding: 0;
}

#hero-con h2 {
    position: absolute; 
    top: 6%; 
    left: 10%;
    color: a.$primary-color; 
    font-family: a.$bold-body-font;
}

#hero-con h3 {
    position: absolute; 
    top: 10%; 
    left: 58%;
    color: a.$primary-color; 
    font-size: 10px;
}

#list {
    top: 19%; 
    left: 58%;
    font-size: 10px;
}

#seeMore:hover {
    background-color: a.$primary-color;
}

#needHelp {
    position: fixed; 
    top: 8%; 
    left: 90%;
    color: a.$secondary-color; 
    background-color: a.$accent-color;
    // letter-spacing: .8px;
    padding:3px;
    padding-top: 5px;
    font-size: 10px;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
}

.time h2 {
    text-align: center;
    margin-top: 20px;
}

#mission h2 {
    position: absolute;
    padding: 30px;
    color: a.$secondary-color;
 }

 #mission p {
    position: absolute;
    padding: 30px;
    color: a.$secondary-color;
    margin-top: 30px;
 }

 #statistics {
    margin-top: 50px;
    margin-bottom: 50px;
}

#statistics img {
    max-width: 50%;
    margin-left: 100px;
    margin-bottom: 30px;
}

#statistics h2 {
    padding: 10px;
}

#statistics p {
    font-size: 14px;
    color: a.$accent-color;
}

#statistics span {
    font-size: 60px;
    color: a.$primary-color;
}

#statistics div {
    margin-bottom: 20px;
    text-align: center;
}

#video {
    background-color: a.$secondary-color;
    margin-bottom: 30px;
}

#video h2 {
    text-align: center;
    margin-top: 20px;
}

#video a {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;

}

#newEvent {
    background-color: a.$accent-color;
}

#newEvent h2 {
    text-align: center;
    margin-top: 30px;
}

#newEvent p {
    color: a.$secondary-color;
    padding: 20px;
}

#newEvent div {
    margin-bottom: 30px;
}

.seeMore1 {
    background-color: a.$primary-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
}

.seeMore1:hover {
    background-color: a.$accent-color;
}

.seeMore2 {
    background-color: a.$accent-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
}

.seeMore2:hover {
    background-color: a.$primary-color;
}

#colaborators {
    margin-top: 30px;
    margin-bottom: 30px;
}

#colaborators h2 {
    text-align: center;
}

.colaborators-images {
    display: flex;
    align-items: center; 
    text-align: center;
}

.colaborators-images img {
    max-width: 60%;
    margin: 15px; 
}

#donate {
    background-color: a.$third-color;
}

#donate h2 {
    text-align: center; 
    margin-top: 40px;  
    margin-bottom: 60px;
    color: a.$primary-color;
}

#donate a {
   margin-left:  160px;
//    font-size: 30px;
   padding: 3%;
   cursor: pointer;
}

#donate img {
    margin-top: 40px;
    margin-bottom: 40px;
}

// .donation-button:hover {
//     background-color: a.$primary-color;
// }

#slogan {
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 768px) {

#hero-con h3 {
        top: 30%;
        left: 60%;
        font-size: 10px;
    }

#list {
        top: 36%; 
        left: 60%;
    }

#seeMore {
        top: 37%; 
        left: 80%;
    }

#mission {
    grid-row: 1/2;
}

#mission img {
    grid-row:1/2;
}

#mission p {
    position: relative;
    grid-row: 1/2;
    background-color: a.$third-color;
    margin: 0 auto;
    padding: 20px;
    color: a.$secondary-color;
    font-size: 10px; 
}

 #mission h2 {
    position: absolute;
    margin-top: 80px;
    color: a.$secondary-color;
    padding: 10px;
 }

#statistics {
    margin-top: 50px;
    margin-bottom: 50px;
}

#statistics h2 {
    padding: 15px;
    font-size: 30px;
}

#statistics p {
    font-size: 28px;
    color: a.$third-color;
}

#statistics span {
    font-size: 100px;
    color: a.$primary-color;
}

#statistics div {
    margin-bottom: 50px;
    text-align: center;
}

#statistics img {
    margin-left: 30px;
    margin-bottom: 30px;
}

#video {
    background-color: a.$secondary-color;
}
 #video h2 {
    text-align: center;
 }

#newEvent h2 {
    text-align: center;
    margin-top: 30px;
}

#newEvent p {
    color: a.$secondary-color;
    padding: 0px;
    font-size: 12px;
}

#newEvent div {
    margin-bottom: 30px;
}

#articles p {
    color: a.$secondary-color;
    padding: 8px; 
}

#articles div {
    background-color: a.$primary-color;
}

.seeMore1, .seeMore2 {
    background-color: a.$primary-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
}

.seeMore2 {
    background-color: a.$accent-color;
}

#news {
    margin-top: 50px;
}

#news div {
    background-color: a.$third-color;
    padding-bottom: 20px;
}

#news p {
    color: a.$secondary-color;
    padding: 8px;
}

#colaborators {
    margin-top: 70px;
    margin-bottom: 50px;
}

#colaborators h2 {
    text-align: center;
}

.colaborators-images {
    display: flex;
    align-items: center; 
}

.colaborators-images img {
    margin: 40px; 
}

#donate {
    background-color: a.$third-color;
}


#donate h2 {
    text-align: center; 
    margin-top: 80px;  
    margin-bottom: 60px;
    color: a.$secondary-color;
}

#donate a {
   margin-left: 120px;
   font-size: 22px;
   padding: 20px;
}

#needHelp {
    top: 20%; 
    left: 86%;
    // padding: 10px 0px 10px 25px ;
    font-size: 20px;
}

#needHelp:hover {
    background-color: a.$primary-color;
}


}

@media screen and (min-width: 1200px) {
    #seeMore {
        top: 37%; 
        margin-left: 10px;
        padding-bottom: 8px;
        font-size: 16px;
    }

    #hero-con h3 {
        top: 30%;
        left: 60%;
        font-size: 18px;
    }

    #list {
        font-size: 16px;
    }

    #mission p {
        font-size: 20px; 
        padding: 50px;
    }
    
     #mission h2 {
        position: absolute;
        margin-top: 160px;
        color: a.$secondary-color;
        padding: 10px;
     }

    #statistics img {
        max-width: 50%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
    #statistics h2 {
        padding: 10px;
        text-align: center;
    }
    
    .colaborators-images img {

        margin-left: 105px; 
    }

    #donate a {
        margin-left:  230px;
    }

    #newEvent{
        background: linear-gradient(to right, #271762 50%, #7A2A85 50%);
        background-size: 100% 100%;
    
        p{
            font-family: a.$body-font-family;
            font-size: 17px;
        }
    }

    #needHelp {
        top:25%;
        left: 89%;
        // padding: 10px 10px 10px 30px ;
        font-size: 30px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.766);
    }
}

@media screen and (min-width: 1440px) {

    #mission p {
        line-height: normal;
        font-size: 24px; 
        padding: 60px;
    }
}

@media screen and (min-width: 1600px) {
    #hero-con h2 {
        top: 20%;
    }
    #hero-con h3 {
        top: 30%;
        left: 60%;
        font-size: 22px;
    }

#list {
        top: 36%; 
        left: 60%;
    }

#seeMore {
        top: 37%; 
        left: 80%;
    }

    #mission p {
        line-height: normal;
        font-size: 24px; 
        padding: 80px;
    }

    #mission h2 {
        margin-left: 80px;
            }
}

@media screen and (min-width: 1920px) {

    #seeMore {
        font-size: 22px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
    
    #needHelp {
        top: 20%;
    }

    #list {
        font-size: 22px;
    }

    #mission h2 {
margin-left: 60px;
    }
        


    #mission p {
        line-height: normal;
        padding: 50px;
        font-size: 36px; 
    }


    
    #statistics img {
       
        margin-left: 130px;
        margin-bottom: 30px;
    }
    
    #statistics h2 {
        padding: 20px;
        font-size: 48px;
    }
    
    #statistics p {
        font-size: 80px;
        color: a.$third-color;
    }
    
    #statistics span {
        font-size: 200px;
        color: a.$primary-color;
    }
    
    .colaborators-images img {

        margin-left: 180px; 
    }

    #donate h2 {
        margin-top: 250px;
    }

    #donate a {
        margin-left:  400px;
        font-size: 50px;
    }
    
}