@use '../abstracts' as a;

#hero-con {
    position: relative;
}

#hero-con h2 {
    position: absolute; 
    top: 10%; 
    left: 10%;
    color: a.$primary-color; 
    font-family: a.$bold-body-font;
}

#hero-con h3 {
    position: absolute; 
    top: 13%; 
    left: 60%;
    color: a.$primary-color; 
}

#list {
    position: absolute; 
    top: 20%; 
    left: 60%;
    color: a.$primary-color; 
    border-radius: 20px;
    padding: 1px;
    border-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

#seeMore {
    position: absolute; 
    top: 30%; 
    left: 75%;
    color: a.$secondary-color; 
    background-color: a.$third-color;
    padding: 2px ;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

#seeMore:hover {
    background-color: a.$primary-color;
}

#needHelp {
    position: fixed; 
    top: 8%; 
    left: 80%;
    color: a.$secondary-color; 
    background-color: a.$accent-color;
    letter-spacing: .8px;
    padding:5px ;
    border-radius: 10px;
    font-size: 14px;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
}

.time h2 {
    text-align: center;
    margin-top: 20px;
}

#mission h2 {
    position: absolute;
    padding: 30px;
 }

 #mission p {
    position: absolute;
    padding: 30px;
    color: a.$secondary-color;
    margin-top: 30px;
 }

 #statistics {
    margin-top: 50px;
    margin-bottom: 50px;
}

#statistics img {
    max-width: 50%;
    margin-left: 100px;
    margin-bottom: 30px;
}

#statistics h2 {
    padding: 10px;
}

#statistics p {
    font-size: 20px;
    color: a.$third-color;
}

#statistics span {
    font-size: 60px;
    color: a.$primary-color;
}

#statistics div {
    margin-bottom: 20px;
    text-align: center;
}

#video {
    background-color: a.$secondary-color;
    margin-bottom: 30px;
}

#video h2 {
    text-align: center;
    margin-top: 20px;
}

#video a {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;

}

#newEvent {
    background-color: a.$third-color;
}

#newEvent h2 {
    text-align: center;
    margin-top: 30px;
}

#newEvent p {
    color: a.$secondary-color;
    padding: 20px;
}

#newEvent div {
    margin-bottom: 30px;
}

.seeMore1 {
    background-color: a.$primary-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
    border-radius: 4px;
}

.seeMore2 {
    background-color: a.$accent-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
    border-radius: 4px;
}

#colaborators {
    margin-top: 30px;
    margin-bottom: 30px;
}

#colaborators h2 {
    text-align: center;
}

.colaborators-images {
    display: flex;
    align-items: center; 
}

.colaborators-images img {
    max-width: 60%;
    margin: 15px; 
}

#donate {
    background-color: a.$third-color;
}

#donate h2 {
    text-align: center; 
    margin-top: 40px;  
    margin-bottom: 60px;
    color: a.$secondary-color;
}

#donate a {
   margin-left:  120px;
   font-size: 30px;
   padding: 3%;
   border-radius: 90px;
   cursor: pointer;
}

#donate img {
    margin-top: 40px;
}

.donation-button:hover {
    background-color: a.$primary-color;
}

@media screen and (min-width: 768px) {

    #hero-con h3 {
        top: 33%; 
    }

    #list {
        top: 40%; 
        left: 60%;
    }

    #seeMore {
        top: 40%; 
        left: 80%;
    }

#mission {
    grid-row: 1/2;
}

#mission img {
    grid-row:1/2;
}

#mission p {
    position: relative;
    grid-row: 1/2;
    background-color: a.$third-color;
    margin: 0 auto;
    padding: 20px;
    color: a.$secondary-color;
    font-size: 10px; 
}

 #mission h2 {
    position: absolute;
    margin-top: 80px;
    color: a.$secondary-color;
    padding: 10px;
 }

#statistics {
    margin-top: 50px;
    margin-bottom: 50px;
}

#statistics h2 {
    padding: 15px;
    font-size: 30px;
}

#statistics p {
    font-size: 28px;
    color: a.$third-color;
}

#statistics span {
    font-size: 100px;
    color: a.$primary-color;
}

#statistics div {
    margin-bottom: 50px;
    text-align: center;
}

#statistics img {
    margin-left: 30px;
    margin-bottom: 30px;
}

#video {
    background-color: a.$secondary-color;
}
 #video h2 {
    text-align: center;
 }

#newEvent h2 {
    text-align: center;
    margin-top: 30px;
}

#newEvent p {
    color: a.$secondary-color;
    padding: 0px;
    font-size: 12px;
}

#newEvent div {
    margin-bottom: 30px;
}

#articles p {
    color: a.$secondary-color;
    padding: 8px; 
}

#articles div {
    background-color: a.$primary-color;
}

.seeMore1 {
    background-color: a.$primary-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
    border-radius: 4px;
}

.seeMore2 {
    background-color: a.$accent-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: a.$secondary-color;
    padding: 5px;
    border-radius: 4px;
}

#news {
    margin-top: 50px;
}

#news div {
    background-color: a.$third-color;
    padding-bottom: 20px;
}

#news p {
    color: a.$secondary-color;
    padding: 8px;
}

#colaborators {
    margin-top: 70px;
    margin-bottom: 50px;
}

#colaborators h2 {
    text-align: center;
}

.colaborators-images {
    display: flex;
    align-items: center; 
}

.colaborators-images img {
    margin: 40px; 
    max-width: 100%;
}

#donate {
    background-color: a.$third-color;
}


#donate h2 {
    text-align: center; 
    margin-top: 80px;  
    margin-bottom: 60px;
    color: a.$secondary-color;
}

#donate a {
   margin-left: 120px;
   font-size: 22px;
   padding: 20px;
   border-radius: 90px;
}

#needHelp {
    top: 20%; 
    left: 86%;
    padding: 10px 10px 10px 25px ;
    font-size: 20px;
}


}

@media screen and (min-width: 1200px) {
    #seeMore {
        top: 40%; 
        left: 75%;
        font-size: 14px;
    }

    #list {
        font-size: 14px;
    }

    #mission p {
        font-size: 20px; 
        padding: 50px;
    }
    
     #mission h2 {
        position: absolute;
        margin-top: 160px;
        color: a.$secondary-color;
        padding: 10px;
     }

    #statistics img {
        max-width: 50%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
    #statistics h2 {
        padding: 10px;
        text-align: center;
    }
    
    .colaborators-images img {

        margin-left: 105px; 
    }

    #donate a {
        margin-left:  250px;
    //     font-size: 30px;
    //     padding: 3%;
    //     border-radius: 90px;

    }

    #newEvent{
        background: linear-gradient(to right, #271762 50%, #7A2A85 50%);
        background-size: 100% 100%;
    
        p{
            font-family: a.$body-font-family;
            font-size: 17px;
        }
    }

    #needHelp {
        top:25%;
        left: 89%;
        padding: 10px 10px 10px 30px ;
        font-size: 30px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.766);
    }
}

@media screen and (min-width: 1920px) {

    #seeMore {
        top: 40%; 
        left: 75%;
        font-size: 22px;
    }
    
    #needHelp {
        top: 20%;
    }

    #list {
        font-size: 22px;
    }

    #mission p {
        line-height: normal;
        padding: 50px;
        font-size: 36px; 
    }

    
}