.sidebar{
  display: none;
}

@media (min-width: 1200px) {

  .sidebar {
    font-family:'Nexa-Regular';
    text-align: center;
    display: block;
    height: 100%; 
    width: 228px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #DFAFE6; 
    overflow-x: hidden; 
    padding-top: 20px;
    }

  .sidebar-brand{
    text-align: center;
    margin-bottom: 60px;
  }

  .sidebar-brand img{
    height: 60px;
  }

  #title-section{
    order: -1;
  }

  #main-header-user{
    max-width: 1920px;
    height: 78px;
  }
  
  #user-section img{
    height: 20px;
  }

  .content-user,   #main-header-user{
    margin-left: 228px;
    padding: 0px 10px;
  }

  .sidebar-menu ul{
    padding: 0;
    list-style: none;
  }


  .sidebar-menu ul li{
    padding: 7px;
    height: 33px;
    width: 200px;
    background-color: #271762;
    margin: 0 auto;
    margin-bottom: 20px;

  }

  .sidebar-menu ul li:hover{
    background-color: rgb(0, 3, 13);
  }
  
  .sidebar-menu ul .active-user{
    background-color: #7A2A85;
  }

  .sidebar-menu ul li a{
    color: #ffff;
  }


}