@use '../abstracts/variables' as b;

#hero-gethelp{
    height: 700px;
}

.hero-gethelp{
    padding: 0;
}


#hero-box-gethelp h2 {
    color: b.$secondary-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#feelings h2{
    padding-left: 15px;
    font-size: 24px;
    color: b.$third-color;
    margin-bottom: 10px;
}

#text-slider{
    padding-left: 20px;
    padding-right: 20px;

}

.box-text-slider{
    width: 125px;
    height: 70px;
    margin: 10px;
    background-color: #7A2A85;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.box-text-slider:hover{
    cursor: pointer;
    background-color: #271762;
}

#text-slider div p {
    text-align: center;
    width: 143px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    margin: 0; 
    padding: 1px;
    font-weight: bold;
}

#feelings {
    display: flex;
    // height: 170px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: b.$secondary-color;
}

// #slider-container {
//     overflow: hidden;
//     position: relative;
//     max-width: 100%
//   }



  #prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,.6);
  }

  #prev-btn{
      padding-right: 0px;
}
  #prev-btn {
    left: 0px;
  }

  #next-btn {
    right: 0px;
  }


#contact-form-help{
    background-color: b.$third-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-form-help h2{
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: b.$heading-font-family;

}

#help-p-contact p{
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: b.$light-body-font;
}

#help-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%; 
    clear: both; 
}

#help-form input:not(:last-child), #help-form textarea, #input-box-help input{
    width: 300px;
    background-color: b.$secondary-color;
    color: b.$primary-color;
    font-family: b.$body-font-family;
    font-weight: bold;
    padding: 2px;
    font-size: 14px;
    margin-bottom: 10px;
    height: 40px;
    resize: none;
    border: none;
}

#input-box-help{
    display: flex;
    flex-direction: column;
}


#help-form textarea{
    margin-bottom: 20px;
}

#button-help-contact {
    width: 57px;
    height: 40px;
    font-size: 17px;
    margin-right: 20px;
    margin-left: auto; 
    background-color: b.$primary-color;
    font-family: b.$heading-font-family;
    font-weight: bolder;
    color: b.$secondary-color;
    margin-bottom: 20px;
    border: none;
}

.lightbox-help {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox-content {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    max-width: 90%; 
    max-height: 90%; 
    overflow: auto;
    z-index: 99999; 
}
.lightbox-help {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F7F0F0;
    padding: 5px;
    box-sizing: border-box;
    z-index: 9999; 
    text-align: center;
}
.closeContent-help {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 100px;
    z-index: 999999; 
}

.lightbox-help img{
    width: 500px;
}

.lightbox-help h3{
    color: #7A2A85;
    font-size: 30px;
    font-weight: bold;
}

#button-help-contact:hover {
    cursor: pointer;
    background-color: b.$accent-color;
    
}


@media (min-width: 768px) {
    // #hero-gethelp{
    //     height: 600px;
    // }
    #hero-box-gethelp{
        height: 600px;
    }
    
    #hero-box-gethelp img{
        width: 100%;
        height: 100%;

    }

    #hero-box-gethelp h2 {
        color: b.$secondary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 700px;
        font-weight: bold;
    }



    
    .box-text-slider{
        width: 175px;
        height: 120px;
        margin-left: 40px;
        margin-right: 40px;
        background-color: #7A2A85;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #text-slider div p {
        text-align: center;
        width: 165px;
        font-size: 16px;
        color: #FFFFFF;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%; 
        margin: 0; 
        padding: 5px;
        font-weight: bold;
    }

    #contact-form-help h2{
        margin-top: 20px;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 29px;
        font-family: b.$heading-font-family;
        font-weight: bolder;
    
    }

        
    #help-p-contact {
        padding-left: 35px;
        padding-right: 35px;
    }

    #help-p-contact p{
       font-size: 12px;
    }



    #help-form input:not(:last-child), #help-form textarea{
        width: 668px;
        padding: 2px;
        font-size: 14px;
        margin-bottom: 10px;
        height: 40px;
    }

    #input-box-help {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        width: 668px;
    }
    
    #input-box-help input {
        width: calc(100% - 10px); 
    }

    #input-box-help input:first-child {
        margin-right: 10px;
    }

    #help-form textarea{
        height: 200px;
    }

    
    #button-help-contact {
        width: 170px;
        height: 47px;
        font-size: 17px;
        margin-right: 90px;
        margin-left: auto; 
        background-color: b.$primary-color;
        font-family: b.$heading-font-family;
        font-weight: bolder;
        color: b.$secondary-color;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #text-slider{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
}

@media (min-width: 1200px) {


    #hero-box-gethelp{
        height: 400px;
    }

    #hero-box-gethelp img{
        width: 100%;
        height: 100%;

    }

    #next-btn{
        display: none;
    }

    #prev-btn{
        display: none;
    }


    #feelings {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }

    #feelings h2{
        margin-top: 20px;
        font-size: 40px;
    }

    // #text-slider{
    //     width: 1200px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    // }


        .box-text-slider{
        width: 195px;
        height: 100px;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 20px;
        background-color: #7A2A85;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 90px;
    }

    .box-text-slider:first-child{
        margin-left: 0;
    }
    
    #text-slider div p {
        text-align: center;
        width: 165px;
        font-size: 16px;
        color: #FFFFFF;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%; 
        margin: 0; 
        padding: 5px;
        font-weight: bold;
    }

    #contact-form-help h2{
        font-size: 49px;
        margin-top: 90px;
    
    }

    #help-p-contact{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #help-p-contact p{
        font-size: 20px;
        margin-bottom: 30px;
    }


    #help-form input:not(:last-child), #help-form textarea{
        width: 1100px;
        padding: 4px;
        font-size: 17px;
        margin-bottom: 15px;
        height: 44px;
    }

    #input-box-help {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        width: 1100px;
    }
    
    #input-box-help input {
        width: calc(100% - 10px); 
    }

    #input-box-help input:last-child {
        font-size: 17px;
    }

    #input-box-help input:first-child {
        margin-right: 10px;
    }

    #help-form textarea{
        height: 200px;
    }

    
    #button-help-contact {
        width: 177px;
        height: 55px;
        font-size: 24px;
        margin-right: 70px;
        margin-top: 15px;
        margin-bottom: 25px;
    }


}