.user-website {
  background-color: #f7f0f0;
}

.cards-icons {
  background-color: #f3f3f3;
  border: 2px solid #282828;
  width: 220px;
  height: 88px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-family: "Nexa-Regular";
}

.cards-icons h3 {
  font-size: 30px;
  color: #222;
}

.cards-icons h4 {
  font-size: 17px;
}

#cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards-section i {
  font-size: 60px;
  padding-right: 10px;
}

.table-section {
  margin-top: 60px;
  border: 2px solid #282828;
  background-color: #f3f3f3;
}

.header-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Nexa-Regular";
}

.header-table button {
  font-weight: 600;
  width: 70px;
  height: 30px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background: rgb(240, 181, 3);
  background: linear-gradient(
    180deg,
    rgb(221, 151, 0) 0%,
    rgb(255, 174, 52) 100%
  );
}

table {
  width: 100%;
  border-spacing: 0;
}

.column-names {
  background-color: #f48f28;
}

.column-names td {
  color: #fff;
  font-weight: 700;
  font-family: "Nexa-Bold";
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

td {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: #222;
  font-family: "Nexa-Light";
}

.header-table h3 {
  color: #222;
}

#title-section {
  display: none;
}

.more-information-flex .notes {
  margin-right: 60px;
}

.more-information-flex input[type="file"] {
  font-family: "Nexa-Bold", sans-serif;
}

@media (min-width: 768px) {
  #title-section {
    font-family: "Nexa-Regular";
    display: block;
    background-color: transparent;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
  }

  #cards-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  td {
    font-size: 14px;
  }

  .header-table button {
    width: 71px;
    height: 31px;
  }

  .column-names td:last-child {
    display: block;
  }

  tbody tr td:last-child {
    display: block;
  }
}

@media (min-width: 1200px) {
  #donations-table .column-names td:last-child {
    display: none;
  }

  #donations-table tbody tr td:last-child {
    display: none;
  }

  .header-table h3 {
    font-size: 24px;
  }

  td {
    font-size: 18px;
  }

  .header-table button {
    width: 75px;
    height: 35px;
    font-size: 17px;
  }
}
