@use '../abstracts' as a;

#video{
    padding-top: 55px;
    padding-bottom: 55px;
    h2{
        text-align: center;
        font-family: a.$bold-body-font;
    }
    button {
        text-align: center;
        width: 100px;
        height: 40px;
        border: none;
        background-color: a.$primary-color;
        border-radius: 5px;
        color: a.$secondary-color;
        margin-left: 47%;
        cursor: pointer;
        font-size: 17px;
        letter-spacing: 1.3px;
        padding: 5px;
        margin-top: 20px;
        &:hover {
            background-color: a.$accent-color;
        }
    }
}

.Allevents {
    display: none;
}

.Allevent img :hover ~ .Allevents {
    display: block;
}

.section-title h2{
    color: #fff;
}

#list {
    position: absolute; 
    width: 20%;
    color: a.$primary-color; 
    border-radius: 2px;
    padding: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    img {
        object-fit: cover;
    }
}

#seeMore {
    position: absolute; 
    color: a.$secondary-color; 
    background-color: a.$third-color;
    padding: 5px ;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}