@use '../abstracts' as a;

#video{
    padding-top: 55px;
    padding-bottom: 55px;
    h2{
        text-align: center;
        font-family: a.$bold-body-font;
    }
    button {
        text-align: center;
        width: 100px;
        height: 40px;
        border: none;
        background-color: a.$primary-color;
        border-radius: 5px;
        color: a.$secondary-color;
        margin-left: 47%;
        cursor: pointer;
        font-size: 17px;
        letter-spacing: 1.3px;
        padding: 5px;
        margin-top: 20px;
        &:hover {
            background-color: a.$accent-color;
        }
    }
}

.Allevents {
    display: none;
}

.Allevent img :hover ~ .Allevents {
    display: block;
}

.section-title h2{
    color: #fff;
}

#list {
    position: absolute; 
    color: a.$primary-color; 
    border-radius: 2px;
    padding: 1px;
    border-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    img {
        object-fit: cover;
    }
}

#seeMore {
    position: absolute; 
    top: 33%; 
    left: 79%;
    color: a.$secondary-color; 
    background-color: a.$primary-color;
    padding: 2px ;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 7px;
}

@media screen and (min-width: 768px) {
    #seeMore {
        top: 26%; 
        left: 86%;
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    #seeMore {
        top: 26%; 
        left: 82%;
        font-size: 22px;
    }
}

@media screen and (min-width: 1920px) {
    #seeMore {
        top: 28%; 
        left: 82%;
        font-size: 32px;
    }
}