.hidden {
  display: none;
}

#login-website {
  background-color: #de760b;
  margin: 0 auto;
}

#container-login {
  margin-top: 50px;
  margin-bottom: 50px;
}

#login-form {
  // background-image: linear-gradient(
  //   to right top,
  //   #8e8e8e,
  //   #a9a9a9,
  //   #c5c5c5,
  //   #e2e2e2,
  //   #ffffff
  // );
  background-image: linear-gradient(
    to right top,
    #000000,
    #171717,
    #262626,
    #373737,
    #484848
  );
  margin: 0 auto;
  height: 686px;
  text-align: center;
}

#login-form img {
  margin-top: 70px;
  margin-bottom: 50px;
  height: 50px;
}

#login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-input input {
  margin-top: 20px;
  font-size: 16px;
  width: 260px;
  height: 52px;
  border: none;
  background-color: #fff4f4;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}

#login-input input:last-child {
  margin-top: 30px;
  padding-left: 0px;
}

#login-button {
  cursor: pointer;
  height: 61px;
  font-weight: bold;
  // background-image: linear-gradient(
  //   to right top,
  //   #f48f28,
  //   #f78c20,
  //   #f98818,
  //   #fc840e,
  //   #ff8000
  // );
  background-image: linear-gradient(
    to right top,
    #ff3e09,
    #ff5800,
    #ff6d00,
    #ff7f00,
    #ff9000
  );
}

#login-image {
  margin: 0;
}

@media screen and (min-width: 768px) {
  #login-form img {
    height: 80px;
  }

  #login-input input {
    margin-top: 25px;
    font-size: 16px;
    width: 529px;
    height: 66px;
  }

  #login-input input:last-child {
    margin-top: 50px;
  }

  #login-button {
    height: 69px;
  }
}

@media screen and (min-width: 1200px) {
  #login-website {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #container-login {
    display: flex;
    max-height: 633px;
  }

  #login-form {
    height: 100%;
  }

  #login-form img {
    height: 70px;
  }

  #login-input input {
    margin-top: 25px;
    font-size: 14px;
    width: 460px;
    height: 58px;
  }

  #login-button {
    height: 61px;
  }

  .inside-login {
    flex: 0 0 50%;
  }

  #login-input {
    margin-top: 70px;
  }

  #login-image {
    display: block;
    height: 100%;
  }
}
