.volunteer-general td {
  padding: 7px;
  font-size: 13px;
}

.buttons-column {
  display: flex;
  flex-direction: column;
}

.button-table-general {
  width: 40px;
  height: 19px;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  background: rgb(240, 181, 3);
  background: linear-gradient(
    180deg,
    rgb(221, 151, 0) 0%,
    rgb(255, 174, 52) 100%
  );
}

.dropdown-select {
  background-color: #7a2a85;
  color: #fff;
  border: none;
}

@media (min-width: 768px) {
  .volunteer-general td {
    font-size: 15px;
  }

  .button-table-general {
    width: 60px;
    height: 30px;
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .dropdown-table {
    display: none;
  }

  tr .desktop-options,
  tr .phone-volunteer,
  tr .email-volunteer,
  tr .message-volunteer,
  tr .notes-volunteer {
    display: block;
  }

  .volunteer-general tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .volunteer-general td {
    flex: 1;
    text-align: center;
  }

  .button-table-general {
    width: 36px;
    height: 30px;
    font-size: 9px;
  }
}

@media (min-width: 1920px) {
  .volunteer-general td {
    font-size: 20px;
  }

  .button-table-general {
    width: 46px;
    height: 30px;
    font-size: 13px;
  }
}
